<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="userManagerImpl" class="com.ydev.service.sample.impl.UserManagerImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="userManager" parent="baseTxProxy">
		<property name="target" ref="userManagerImpl" />
	</bean>    

	<bean id="productManagerImpl" class="com.ydev.service.app.impl.ProductManagerImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="productManager" parent="baseTxProxy">
		<property name="target" ref="productManagerImpl" />
	</bean>
	
	<bean id="shopManagerImpl" class="com.ydev.service.app.impl.ShopManagerImpl" >
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="shopManager" parent="baseTxProxy">
		<property name="target" ref="shopManagerImpl" />   
	</bean>
	
	<bean id="purchaseManagerImpl" class="com.ydev.service.app.impl.PurchaseManagerImpl" >
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="purchaseManager" parent="baseTxProxy">
		<property name="target" ref="purchaseManagerImpl" />   
	</bean>
	
	<bean id="memberManagerImpl" class="com.ydev.service.app.impl.MemberManagerImpl" >
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="memberManager" parent="baseTxProxy">
		<property name="target" ref="memberManagerImpl" />   
	</bean>
</beans>
